body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.clearfloat {
  zoom: 1;
}

.clearfloat::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}

select,
input,
button {
  outline: none;
}
